.body {
  font-size: 10vw;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
}

.grid-item {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 20px;
  border-radius: 25px;
  margin: 30px;
  top: 100px;
}

.item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #743fc8;
  color: white;
}

.item-2 {
  grid-column-start: 3;
  background-color: #49556b;
  color: white;
}

.item-3 {
  grid-column: 4/4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: white;
}

.item-4 {
  background-color: #18202d;
  color: white;
  grid-column: 1/2;
}

.item-5 {
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: white;
}

.name {
  font-size: 1.3rem;
  font-weight: 500;
}

.graduate {
  font-weight: 500;
  font-size: 1.1rem;
  opacity: 0.5;
  margin-top: -1rem;
}

img {
  border-radius: 50%;
}

.person-image {
  float: left;
  padding: 10px;
}

.short-text {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.quote-img {
  float: left;
}

.info-2 {
  margin-top: 2.4rem;
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 500;
  opacity: 0.7;
}

@media only screen and (max-width: 500px) {
  /* CSS that should be displayed if width is equal to or less than 500px goes here */
  .grid-container {
    font-size: 16px;
  }

  .grid-item {
    border-radius: 25px;
  }

  .item-1 {
    grid-row-start: 0;
    grid-row-end: 1;
    grid-column-start: 0;
    grid-column-start: 1;
    color: white;
    height: 400px;
    width: 500px;
  }

  .item-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 0;
    grid-column-start: 1;
    background-color: #49556b;
    color: white;
    height: 250px;
    width: 500px;
  }

  .item-3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 0;
    grid-column-start: 1;
    background-color: white;
    height: 470px;
    width: 500px;
  }

  .item-4 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 0;
    grid-column-start: 1;
    background-color: #18202d;
    color: white;
    height: 250px;
    width: 500px;
  }

  .item-5 {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 0;
    grid-column-start: 1;
    background-color: white;
    height: 360px;
    width: 500px;
  }

  .name {
    font-size: 1.3rem;
    font-weight: 500;
  }

  .graduate {
    font-weight: 500;
    font-size: 1.1rem;
    opacity: 0.5;
    margin-top: -1rem;
  }

  .short-text {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
  }

  .info-2 {
    margin-top: 2.4rem;
    font-size: 16px;
    line-height: 1.8rem;
    font-weight: 500;
    opacity: 0.7;
  }
}

/*# sourceMappingURL=style.css.map */
